<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>webFileSource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C45E17B1F1C59590028AE7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C45E1941F1C59590028AE7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C45E19F1F1C59590028AE7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
